$main-font: "Roboto", sans-serif;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

$main-color: #bd0c41;

@mixin shop-now-button {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 2;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-color: rgb(70, 23, 122);
  color: rgb(70, 23, 122);
  box-shadow: rgb(70, 23, 122) 6px 7px 0px 0px;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: rgb(70, 23, 122) 6px 9px 0px 0px;
  }
}

.card {
  position: relative;
  .button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include shop-now-button;
  }
}
