.flash {
  .flash-container {
    padding: 2em;
    display: grid;
    grid-column-gap: 1em;
    // grid-row-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
.flash-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.flash-block {
  position: relative;
  .button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include shop-now-button;
  }
}
