.popular-cards {
  padding: 4em 2em;
  background-color: rgb(187, 187, 187);
}
.popular-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .shop-now-container {
    width: 100%;
    // text-align: center;
    // margin: 2em 0;
    .button {
      @include shop-now-button;
      width: 100%;
    }
  }
}
.popular-card {
  img {
    height: 200px;
    object-fit: cover;
  }
}
.popular-title {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}
